/* Defaults ========== */
* {
    margin: 0 auto;
}

:root {
    padding: 0;
    box-sizing: border-box;

    /* Colors & Fonts ====== */
    --main-bg: rgb(93, 152, 240);
    --main-color: rgb(0, 166, 81);
    --main-font: cooper-black-std, serif;
    --accent-color: rgb(122, 246, 182);
    --accent-border: rgb(37, 133, 131);
}

/* 
body {
    background-color: var(--main-bg);
}

.master-container {
    font-family: var(--main-font);
}

.header-container {
    background-color: var(--main-color);
    padding: 5px 20px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    position: fixed;
    overflow: hidden;
}

.logo > a {
    text-decoration: none;
    color: white;
    font-family: var(--main-font);
    font-size: 5vh;
    margin-left: 30px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: .4vw; 
}

.menu {
    font-size: 10vw;
    line-height: 2vh;
    text-align: center;
    width: 50px;
    display: flex;
    align-items: center;
    color: white;
    padding: 5px;   
}

.main {
    overflow: hidden;
}

.main-add {
    margin-top: 90px;
}

.add {
    color: var(--accent-color);
    margin: 2vw;
    background-color: var(--accent-border);
    padding: 10px;
    border-radius: 10px;
    z-index: 1;
    text-decoration: none;
    /* text-decoration: underline; */


/* .menu {
} */

/* .child-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */


body {
    font-family: var(--main-font);
    height: 100%;
    background: var(--main-bg);
    font-style: normal;
    font-weight: normal;
    font-weight: 400;
}

.parent-container {
    display: flex;
    flex-direction: column;
}

img {
    width: 70%;
}

.img-div {
    text-align: center;
}

.main-index {
    margin: 150px 200px;
    width: 500px;
    background-color: var(--main-color);
    border-radius: 70px;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, .5);
}

.visited-index {
    color: var(--accent-color);
    background-color: var(--accent-border);
    width: 70%;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.name-index {
    color: white;
    font-size: 60px;
    text-align: center;
    /* margin: 20px 20px 0 20px; */
    padding: 20px;
}

.checkbox-index {
    height: 20px;
    width: 20px;
    background-color: var(--accent-border);
    margin: 5px;
}

.header-navbar {
    background-color: rgb(0, 166, 81);
    width: 100%;
    height: 80px;
    /* display: inline-flex; */
    position: fixed;
    padding: 20px;
    overflow: hidden;
}

.menu {
    font-size: 50px;
    line-height: 20px;
    color: white;
    font-weight: normal;
    display: inline-flex;
    padding: 10px;
    /* border: 1px solid black; */
}

.logo { 
    font-size: 30px;
    padding: 22px;
    color: white;
    letter-spacing: 2px;
}

.logo-text > a {
    color: white;
    text-decoration: none;
}

.add {
    position: fixed;
    padding-top: 80px;
    padding-left: 300px;
    color: white;
    font-size: 30px;
    /* text-decoration: none; */
}

.add:hover {
    color: var(--accent-color);
}

.visited-index > h2 {
    font-size: 30px;
    font-weight: lighter;
}

.see-more {
    text-decoration: none;
    color: white;
    font-size: 50px;
    width: 100%;
    padding-left: 130px;
}

.see-more:hover {
    color: var(--accent-color);
}

.buttons {
    margin-top: 10px;
    text-align: center;
}

.edit-link {
    font-size: 30px;
    margin-bottom: 22px;
    font-family: var(--main-font);
    background-color: var(--main-color);
    color: var(--accent-color);
    border: none;
    padding: 15px;
    border-radius: 10px;
}

.edit-link:hover {
    background-color: var(--accent-border);
}

.delete-link {
    font-size: 30px;
    margin-bottom: 30px;
    font-family: var(--main-font);
    background-color: rgb(214, 89, 89);
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.delete-link:hover {
    background-color: rgb(244, 62, 62);
}


.spring-act-index {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px 50px 5px 50px;
    width: 60%;
}



.card-container {
    margin: 150px 200px 30px 200px;
}

.card-header {
    width: 70%;
    padding: 30px;
    text-align: center;
}

.show-info-container {
    width: 85%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.show-images {
    display: flex;
    justify-content: space-around;
    width: 50%;
    background-color: var(--accent-border);
    padding: 15px;
    border-radius: 25px;
    /* margin: 20px; */
    box-sizing: border-box;
}

.show-images img {
    width: 100%;
    border-radius: 10px;
    display: none;
}
  
.show-images img:first-of-type {
    display: block;
}

.show-images:hover {
    background-color: var(--accent-color);
}

.show-info {
    margin: 20px;
    font-size: 30px;
    text-align: center;
    display: inline;
    padding: 20px;
    /* width: 400px; */
}

.spring-name {
    font-size: 65px;
    font-weight: normal;
    color: white;
}

.spring-act {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 35px;
    font-weight: 300;
    width: 80%;
}

.spring-act-edit {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.new-container {
    margin: 150px 200px;
}

.edit-container {
    margin: 150px 200px;
}

.edit-form {
    font-size: 20px;
}

.edit-activities {
    padding: 10px;
    border-radius: 10px;
    font-size: 11px;
    font-family: var(--main-font);
    width: 60%; 
    border: none;
}

.map {
    width: 600px;
    height: 450px;
}
