/* Defaults ========== */
* {
    /* Dimensions ====== */
    margin: 0;
}

:root {
    padding: 0;
    box-sizing: border-box;

    /* Colors & Fonts ====== */
    --main-bg: rgb(93, 152, 240);
    --main-color: rgb(0, 166, 81);
    --main-font: cooper-black-std, serif;
}

body {
    font-family: var(--main-font);
    height: 100%;
    background: var(--main-bg);
}

header {
    background-color: rgb(0, 166, 81);
    width: 100%;
    display: flex;
    padding: 10px;
}

.logo {
    font-size: 90px;
    color: white;
    padding-left: 10px;
}

.menu {
    font-size: 100px;
    line-height: 30px;
    color: white;
    margin: 20px;
}

#map {
    height: 400vh;
    width: 100vw;
}